!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/themes/sunny/jquery.ui.all.css')
    script(src='/javascripts/jquery-1.7.2.min.js')
    script(src='/javascripts/ui/minified/jquery.ui.core.min.js')
    script(src='/javascripts/ui/minified/jquery.ui.widget.min.js')
    script(src='/javascripts/ui/minified/jquery.ui.progressbar.min.js')
    script(src='/javascripts/ui/minified/jquery.ui.mouse.min.js')
    script(src='/javascripts/ui/minified/jquery.ui.button.min.js')
    script(src='/javascripts/ui/minified/jquery.ui.position.min.js')
    script(src='/javascripts/ui/minified/jquery.ui.resizeable.min.js')
    script(src='/javascripts/ui/minified/jquery.ui.dialog.min.js')
    script(src='/javascripts/ui/minified/jquery.ui.draggable.min.js')
    script(src='/javascripts/ui/minified/jquery.ui.sortable.min.js')
body!= body
